

.watch-main{
    background-color: red;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}
h2, h3{
    margin-left: 10px;
}
.form{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.form input{
    font-size: 40px;
}
button{
    font-size: 30px;
}